.panes{
	-fx-background-image: url(/images/homeBackground.jpg);	
	-fx-spacing: 20;
}
.text-field{
    -fx-min-width: 50;
    -fx-max-width: 250;
    -fx-spacing: 20;  
    -fx-font-size:28;
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;	
    -fx-border-width: 3;
	-fx-border-color: #50654f;        	
}


.ipTextField, .portTextField{
    -fx-min-width: 50;
    -fx-max-width: 250;
    -fx-spacing: 20;  
    -fx-font-size:28;  
}


.button {
    -fx-min-width: 150;
    -fx-max-width: 180;	
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;
    -fx-border-width: 3;
	-fx-border-color: #50654f;
	-fx-font-size:18;        		
}
/*/
.TextField{
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;	
    -fx-border-width: 3;
	-fx-border-color: #50654f;   	
}*/
.registerButton{
	-fx-min-width: 150 !important;
    -fx-max-width: 150 !important;	 	
}

.buildingCard{
	-fx-min-width: 1200;
	-fx-max-width: 1200;
	/*-fx-padding-top: 123;*/
	-fx-text-fill: transparent;
	-fx-background-size: cover;
	-fx-background-image: url(/images/buildingCardsImage.jpg);	
}
.enemyBuildingsImg{
	-fx-min-width: 136;
	-fx-max-width: 136;
	/*-fx-padding-top: 123;*/
	-fx-text-fill: transparent;
	-fx-background-size: cover;
	-fx-background-image: url(/images/buildingsEnemy.jpg);	
}
#enemyCounterArea, #bottomArea{
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;
    -fx-border-width: 3;
	-fx-border-color: #50654f;	
}
 #leftVbox{
 	-fx-background-color: #999999;
 	-fx-padding: 40;	
 }
.spacerEB{
	-fx-padding: 50;
	-fx-min-width: 120;
	-fx-max-width: 100;	
}
.spacerBuildings{
	-fx-max-width: 145;	
	-fx-min-width: 145;
}
.gameButtons{
	-fx-min-width: 200;
	-fx-max-width: 200;
	-fx-text-fill: transparent;
	-fx-background-size: cover;
}

.gameButtonFirst, .gameButton0{
	-fx-background-image: url(/images/characterCard_Farmer.jpg);	
}
.gameButtonSecond, .gameButton1{
	-fx-background-image: url(/images/characterCard_Brewer.jpg);	
}
.gameButtonThird, .gameButton2{
	-fx-background-image: url(/images/characterCard_Queen.jpg);
}
.gameButtonFourth, .gameButton3{
	-fx-background-image: url(/images/characterCard_Host.jpg);	
}
.gameButtonFifth, .gameButton4{
	-fx-background-image: url(/images/characterCard_Soldier.jpg);	
}
.gameButtonSixth, .gameButton5{
	-fx-background-image: url(/images/characterCard_Witch.jpg);	
}
.bd1{
	-fx-background-image: url(/images/bdC1.jpg);		
}