.panes{
	-fx-background-image: url(/images/homeBackground.jpg);	
	-fx-spacing: 20;
}
.text-field{
    -fx-min-width: 50;
    -fx-max-width: 250;
    -fx-spacing: 20;  
    -fx-font-size:28;
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;	
    -fx-border-width: 3;
	-fx-border-color: #50654f;        	
}


.ipTextField, .portTextField{
    -fx-min-width: 50;
    -fx-max-width: 250;
    -fx-spacing: 20;  
    -fx-font-size:28;  
}


.button {
    -fx-min-width: 150;
    -fx-max-width: 180;	
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;
    -fx-border-width: 3;
	-fx-border-color: #50654f;
	-fx-font-size:18;        		
}
.lobby{
	-fx-text-fill: #ffffff;
    -fx-max-width: 750 !important;
	-fx-background-color: rgba(0, 0, 0, .5);		
}
.spielStartenArea {
	-fx-background-size: cover;
	-fx-background-image: url(/images/spielStarten.jpg);		
}
/*/
.TextField{
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;	
    -fx-border-width: 3;
	-fx-border-color: #50654f;   	
}*/
.registerButton{
	-fx-min-width: 150 !important;
    -fx-max-width: 150 !important;	 	
}

.buildingCard{
	-fx-min-width: 1200;
	-fx-max-width: 1200;
	-fx-text-fill: transparent;
	-fx-background-size: cover;
	-fx-background-image: url(/images/buildingCardsImage.jpg);	
}
.sendButton, .chatInputTextField{
	-fx-border-color: #999999;
	-fx-background-color: white;
	-fx-text-fill: black;		
}
.ebCounter{
  /*  -fx-border-width: 2;*/
	-fx-border-color: #50654f;
	-fx-background-color: white;
	/*-fx-font-size: 16pt; */
	-fx-padding: 0 20;
	/*-fx-background-color: rgba(125, 125, 125, 0.5);*/
}
.chatArea{
	-fx-padding: 15;
}
.chatArea, .playerNameArea{
	-fx-background-color: rgba(125, 125, 125, 0.5);
	-fx-text-fill: #000000;	
}
.chatTitle{
	 -fx-font-size: 18pt;
	 -fx-font-weight: bold;
}
#enemyBuildingsImg{
	-fx-min-width: 92;
	-fx-max-width: 92;
	/*-fx-padding-top: 123;*/
	-fx-text-fill: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-background-image: url(/images/enemyBuildingDeck.jpg);	
}
#enemyCounterArea {
	-fx-text-fill: #000000;
    -fx-border-width: 3;
	/*-fx-border-color: #50654f;*/
}
#bottomArea{
	-fx-background-color: #9d8700;
	-fx-text-fill: #000000;
    -fx-border-width: 3;
	-fx-border-color: #50654f;	
}
 #leftVbox, .leftMainBox{
 	-fx-padding: 40;	
 }
.spacerEB{
	-fx-padding: 50;
	-fx-min-width: 120;
	-fx-max-width: 100;	
}
.spacerBuildings{
	-fx-max-width: 115;	
	-fx-min-width: 115;
}
.counterLabel{
	-fx-background-color: #ffffff;
	-fx-padding: 5;
	-fx-min-width: 150;
	-fx-max-width: 150;
	-fx-border-width: 3;
	-fx-border-color: #50654f;
}

.buildingsCounters{
	-fx-padding-left: 15;
}
.gameButtons{
	-fx-min-width: 200;
	-fx-max-width: 200;
	-fx-text-fill: transparent;
	-fx-background-size: cover;
}
.gameArea{
	-fx-background-size: cover;
	-fx-background-image: url(/images/inside2.jpg);		
}
.personDeck{
	-fx-padding: 20 0;
}
.gameButtons{
	-fx-border-color: #50654f;	
}
.gameButtons:hover{
	-fx-border-color: red;	
}
.gameButton0:hover{
	-fx-border-color: green !important;	
}
.gameButton0{
	-fx-background-image: url(/images/characterCard_Farmer.jpg);	
}
.gameButton1{
	-fx-background-image: url(/images/characterCard_Brewer.jpg);	
}
.gameButton2{
	-fx-background-image: url(/images/characterCard_Witch.jpg);
}
.gameButton3{
	-fx-background-image: url(/images/characterCard_Defense.jpg);	
}
.gameButton4{
	-fx-background-image: url(/images/characterCard_Soldier.jpg);	
}
.gameButton5{
	-fx-background-image: url(/images/characterCard_Host.jpg);	
}
.gameButton6{
	-fx-background-image: url(/images/characterCard_Queen.jpg);	
}
.gameButton7{
	-fx-background-image: url(/images/OrangeBrown.jpg);	
}
.gameButton8{
	-fx-background-image: url(/images/OrangeRed.jpg);		
}
.gameButton9{
	-fx-background-image: url(/images/BrownGreen.jpg);		
}
.gameButton10{
	-fx-background-image: url(/images/BrownRed.jpg);		
}
.gameButton11{
	-fx-background-image: url(/images/GreenBlue.jpg);		
}
.gameButton12{
	-fx-background-image: url(/images/GreenYellow.jpg);		
}
.gameButton13{
	-fx-background-image: url(/images/GreenViolet.jpg);		
}
.gameButton14{
	-fx-background-image: url(/images/BlueRed.jpg);		
}
.gameButton15{
	-fx-background-image: url(/images/BlueYellow.jpg);		
}
.gameButton16{
	-fx-background-image: url(/images/BlueViolet.jpg);		
}
.gameButton17{
	-fx-background-image: url(/images/RedYellow.jpg);		
}
.gameButton18{
	-fx-background-image: url(/images/YellowViolet.jpg);		
}

.bd1{
	-fx-background-image: url(/images/bdC1.jpg);		
}